
{% extends "base.html" %}

{% block styles %}
  <link href="/grade_list.css" rel="stylesheet" />
{% endblock %}



{% block page_content %}
<div class="paper">
    <form class="grade-form" action="/action/search/edit_stu" method="post">
        <div class="stu_search">学生查询</div>
        <label>学生：</label>
        <select name="student_sn">
            <option value="">--选择--</option>
            {% for stu in students %}
            <option value="{{stu.student_sn}}">
                {{stu.student_name}}({{stu.student_sn}})
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="查询"/>
    </form>

    <form class="grade-form" action="/action/search/edit_com" method="post">
        <div class="com_search">综合查询</div>
        <label>课程：</label>
        <select name="course_sn">
            <option value="">--选择--</option>
            {% for item in courses %}
            <option value="{{item.course_sn}}">
                {{item.course_name}}({{item.course_sn}})
            </option>
            {% endfor %}
        </select>

        <label>学期：</label>
        <select name="term">
            <option value="">--选择--</option>
            <option value="2019-2020第一学期">
                2019-2020第一学期
            </option>
            <option value="2019-2020第二学期">
                2019-2020第二学期
            </option>
            <option value="2020-2021第一学期">
                2020-2021第一学期
            </option>
            <option value="2020-2021第二学期">
                2020-2021第二学期
            </option>
        </select>
        <input type="submit" value="查询"/>
    </form>

    
{% endblock %}
