{% extends "base.html" %}

<!--  -->
{% block styles %}
<link href="/dialog_error.css" rel="stylesheet" />
{% endblock %}

<!--  -->
{% block page_content %}
<div class="panel">

<div class="dialog">
    <div class="content">
        <span
            >是否取消选课{{record.schedule_sn}}({{record.course_name}}{{record.term}})</span
        >
    </div>
    <div class="footer">
        <div class="btn">
            <form
                action="/action/student_course/delete/{{record.student_sn}}/{{record.schedule_sn}}"
                method="post"
            >
            
                <input type="submit" value="确定退课" />
            </form>
        </div>
        <div class="btn">
            <a href="/student_course">返回</a>
        </div>
    </div>
</div>
</div>
{% endblock %}