{% extends "base.html" %}

<!--  -->
{% block styles %}
<link rel="stylesheet" href="/course_list.css" />
{% endblock %}

<!--  -->
{% block page_content %}
<div class="paper">
    <div class="paper-head">
        <div id="new-btn" class="btn">新建课程</div>
    </div>
    <div class="paper-body">
        <table id="course-table" class="table">
            <thead>
                <tr>
                    <th class="col-course_no">课程号</th>
                    <th class="col-course_name">课名</th>
                    <th class="col-teacher">教师</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="course-editor dialog-background">
        <form class="dialog">
            <div class="dialog-head"></div>
            <div class="dialog-body">
                <input type="hidden" name="course_sn" />
                <label>课程号: </label>
                <input type="text" name="course_no" />
                <label>课名: </label>
                <input type="text" name="course_name" />
                <label>教师: </label>
                <input type="text" name="teacher" />
            </div>
            <div class="dialog-footer">
                <a id="save-btn" class="btn">保存</a>
                <a id="close-btn" class="btn">关闭</a>
            </div>
        </form>
    </div>
    <div class="comfirmation-dialog dialog-background">
        <form class="dialog">
            <div class="dialog-head"></div>
            <div class="dialog-body">
                <div id="message"></div>
            </div>
            <div class="dialog-footer">
                <a id="ok-btn" class="btn">确定</a>
                <a id="cancel-btn" class="btn">放弃</a>
            </div>
        </form>
    </div>
</div>
<script src="/course.js"></script>
{% endblock %}
