{% extends "base.html" %}

{% block styles %}
    <link href="/schedule_list.css" rel="stylesheet" />
{% endblock %}


{% block page_content %}
<div class="paper">
    <form class="schedule-form" action="/action/schedule/add" method="post">

        <label>计划：</label>
        <input type="text" name="schedule_sn" />

        <label>课程：</label>
        <select name="course_sn">
            <option value="">--选择--</option>
            {% for item in courses %}
            <option value="{{item.course_sn}}">
                {{item.course_name}}({{item.course_sn}})
            </option>
            {% endfor %}
        </select>

        <label>学期：</label>
        <select name="term">
            <option value="">--选择--</option>
            
            <option value="2019-2020第一学期">2019-2020第一学期</option>
            
            <option value="2019-2020第二学期">2019-2020第二学期</option>

            <option value="2020-2021第一学期">2020-2021第一学期</option>

            <option value="2020-2021第二学期">2020-2021第二学期</option>
           
            </option>
            
        </select>

        <label>日期：</label>
        <select name="date">
            <option value="">--选择--</option>
            
            <option value="星期一">星期一</option>
            
            <option value="星期二">星期二</option>

            <option value="星期三">星期三</option>

            <option value="星期四">星期四</option>

            <option value="星期五">星期五</option>

            <option value="星期六">星期六</option>

            <option value="星期日">星期日</option>
            
            </option>
            
        </select>

        <label>时间：</label>
        <select name="time">
            <option value="">--选择--</option>
            
            <option value="第一大节">第一大节</option>
            
            <option value="第二大节">第二大节</option>

            <option value="第三大节">第三大节</option>

            <option value="第四大节">第四大节</option>

            <option value="第五大节">第五大节</option>
            
            </option>

        </select>

        <label>地点：</label>
        <select name="site">
            <option value="">--选择--</option>
            
            <option value="一公教">一公教</option>
            
            <option value="二公教">二公教</option>
            
            </option>
            
        </select>

    

        <input type="submit" value="添加计划" />
    </form>
    <hr />
    <table>
        <tr>
            <th>计划</th>
            <th>课程</th>
            <th>学期</th>
            <th>日期</th>
            <th>时间</th>
            <th>地点</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.schedule_sn }}</td>
            <td>{{ item.schedule_name }}</td>
            <td>{{ item.term }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.time }}</td>
            <td>{{ item.site }}</td> 
            <td>
                <div class="ctrlbar">
                    <div class="btn">
                        <a href="/schedule/edit/{{item.schedule_sn}}">
                            修改
                        </a>
                    </div>
                    <div class="btn">
                        <a href="/schedule/delete/{{item.schedule_sn}}">
                            删除
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}